name: chat-components-pr

on:
  pull_request:
    branches:
      - '**'
    types: [ edited, assigned, opened, synchronize, reopened]
    paths:
      - 'chat-components/**'

permissions:
  contents: read       # For checkout
  actions: write       # For downloading and uploading artifacts
      
jobs: 
  build:
    runs-on: windows-2022
    steps:
      - name: Checking out for ${{ github.ref }}
        uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 22.X
      - name: Install packages
        working-directory: chat-components
        run: yarn install
      - name: Unit Tests
        working-directory: chat-components
        run: yarn test:unit
      - name: Build Storybook
        working-directory: chat-components
        env :
          NODE_OPTIONS: --openssl-legacy-provider
        run: yarn build-storybook
      - name: VRT Tests
        working-directory: chat-components
        run: yarn test:visual --forceExit
      - name: Upload VRT Tests failures screenshots
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: VRT Failure Screenshots
          path: 'chat-components/**/__diff_output__/*.png'
      - name: Build package
        working-directory: chat-components
        run: yarn build
