name: storybook-release
on: 
  push:
    branches: 
      - main
    tags:
      - 'w-v*'
    paths:
      - 'chat-widget/**'

permissions:
  actions: write
  contents: write
  deployments: write
  packages: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checking out for ${{ github.ref }}
        uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16.X
      - name: Install Chat Widget packages
        working-directory: chat-widget
        run: yarn install
      - name: Build Composite Storybook
        working-directory: chat-widget
        run: yarn build-composite-storybook
      - name: Deploy Storybook
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:
          branch: gh-pages
          folder: ./chat-widget/storybook-build
          target-folder: docs/storybook
